*.DS_Store
AnyThinkSDKDemo/Podfile.lock
AnyThinkSDKDemo/Pods
AnyThinkSDKDemo/AnyThinkSDKDemo.xcworkspace
AnyThinkSDKDemo/SDK
AnyThinkSDKDemo/Build
AnyThinkSDKDemo/DerivedData
JoyPacSDKDemo
iOSDemo/Podfile.lock
iOSDemo/Pods
iOSDemo/AnyThinkSDKDemo.xcworkspace
iOSDemo/SDK
iOSDemo/Build
iOSDemo/DerivedData